{% extends 'root.html' %}
{% load thumbnail %}
{% load static %}
{% load remove_symbols %}

{% block title %}Свежие новости{% endblock %}

{% block content %}
    <div class="search">
        <form action="." method="get" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Поиск">
        </form>
        <form action="." method="post">
            {% csrf_token %}
            {{ sort_form.as_p }}
            <input type="submit" value="Сортировка">
        </form>
    </div>
    <div class="news-block">
        {% for news in news_list %}
            <div class="news-item">

                <div class="news-item-logo">
                    {% thumbnail news.image "75x75" crop='center' as im %}
                        <img src="{{ im.url }}">
                    {% empty %}
                        <img src="{% static 'news/img/defaults/default.jpg' %}" alt="Картинка по умолчанию">
                    {% endthumbnail %}
                </div>

                <div class="news-item-body">
                    <a href="{% url 'news:details' news.id %}">
                        <h4>{{ news.title }}</h4>
                    </a>

                    <p>
                        {% for tag in news.tags.all %}
                            <a href="{% url 'news:news_list'%}?tag={{ tag.slug }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>

                    {% if perms.news.change_news %}
                        <a href="{% url 'news:edit' news.id %}">
                            Редактировать
                        </a>
                    {% endif %}

                    <div class="news-item-content">
                        {% with news.text|truncatechars:200 as news_text %}
                            <p>
                            {% if news_text|length == news.text|length %}
                                {{ news.text }}
                            {% else %}
                                {{ news_text|clear_end_text }}...
                            {% endif %}
                            </p>
                        {% endwith %}
                        <p>Автор: {{ news.author.username }}</p>
                        <p>Опубликовано: {{ news.publish_date }}</p>

                        {% if news.publish_date != news.edit_date %}
                            <p>Отредактировано: {{ news.edit_date }}</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% empty %}
            <div class="empty-news">
                <h3>Вы ошиблись сайтом, здесь нет новостей</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
